##Operators

In [20]:
#Arithmetic Operator

2+3
2-3
2*3
2/3#normal devision or floating point devision 
2//3#integer devision operator or floor/float devision
2**4 #use power calculate
5%3

2

In [4]:
#Comparison Operator
1>2
1<2
1==2
1>=2
1<=2
1!=2

True

In [19]:
#logical Operator

True and True
True and False
False and True
False & False

True or True
True or False
False or True
False or False

1>1 and 1<1
1<2 and 2 > 1
not False

True

In [13]:
#problem
# Bitwise Operator
#        8   4   2   1
# 2      0   0   1   0
# 5      0   1   0   1
#2 & 5   0   0   0   0
2 & 5  # if i use and then its shows 5, why? 
2 and 5

#        8   4   2   1
# 2      0   0   1   0
# 6      0   1   1   0
#2 & 6   0   0   1   0

#        8   4   2   1
# 2      0   0   1   0
# 6      0   1   1   0
#2 ! 6   0   1   1   0
2 | 6
2 or 6  # if i use or then its shows 2, why? 
#        8   4   2   1
# 3      0   0   1   1
# 9      1   0   0   1
#3 | 9   1   0   1   1
3 | 9 
3 or 9 #why result 3?

# ~ tilde simble not operation
#               2   1
#2              1   0
#~2             0   1
#                   1
#               1   1
~2
#               4   2   1
#3              0   1   1
#~3             1   0   0
#                       1
#               1   0   1
~3          # how -4

#XOR
# True xor True => False
# True xor False => True
# False xor True => True
# False xor False => False

#        8   4   2   1
# 2      0   0   1   0
# 5      0   1   0   1
# 2^5    0   1   1   1
2^5

## (Left Shift>>) & (Right Shift <<)

#        8   4   2   1
#Right Shift <<
# 2      0   0   1   0
# 2<<1   0   1   0   0
2<<1
# 2<<2   1   0   0   0
2<<2
#Left Shift>>
# 2      0   0   1   0
# 2>>1   0   0   0   1
2>>1
# 2>>2   0   0   0   0
2>>2

0

In [19]:
# Special Assignment Operator
num = 2
num += 2
num -= 2
num *= 2
num /=2
num **= 2
num

4.0

In [64]:
# Special Operator
"i" in "Anik"

# is operator use for full same or not also check same type or not
a=2
b=2.0
a is b

True

# Data Structure
## Data Structure

In [24]:
# List []
height = [ 5 , 6 , 5 , 1 , 2 , 5.6 , 9.3 , 2]
# Accessing Data
height[0]
height[-2]

# Length
len(height)

#Slicing
height[1:4]
height[1:5:2]
height[1:5:3]
height[2::3]
height[::3]
height[::-2]
"Anik" [::-1]

#Value Update
height[1]=4.5
height

#Function
height.append(4.7)#Add value at the end
#height.append([12 , 65 , 13])# Add full list
height.insert(0,3)#We can Add value at any index
height

#add another list
height.extend([12 , 65 , 13])
height + [12 , 65 , 13] #add another list 2nd way
height.remove(5)#remove 1st 5 And work on values
height.index(5)# find value 5 at which index?
height.pop()#pop or remove last index and Works on index no
height.pop(2)#remove 2nd index
height.sort()#sort in ascending order
height.sort(reverse=True)#sort in descending order
height.count(2)
[0] <= [0]
[2] * 6

[2, 2, 2, 2, 2, 2]

In [45]:
#Tuple ()
heights = (6 , 5 , 1 , 2 , 5.6 , 9.3 , 2)
#heights[0]=4 # We can not update value in tuple
# del heights[0] #We can not delete value in tuple
heights[1:4:2]
heights.count(2)

name = "Anik"
#name[4]="a" #We can not update value in string
name

'Anik'